[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = http://repo.or.cz/r/vcscommand.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/sudoedit"]
	path = bundle/sudoedit
	url = https://github.com/chrisbra/SudoEdit.vim.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/PHP-Indenting-for-VIm"]
	path = bundle/PHP-Indenting-for-VIm
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule "bundle/vim-bad-whitespace"]
	path = bundle/vim-bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git
[submodule "bundle/EasyGrep"]
	path = bundle/EasyGrep
	url = https://github.com/vim-scripts/EasyGrep.git
